@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply overflow-x-hidden font-sans uppercase bg-background-500 text-foreground-500;
  }

  main {
    @apply flex flex-col items-center justify-center flex-1 flex-grow;
  }

  .page {
    @apply flex flex-col items-center min-h-screen;
  }

  h1 {
    @apply text-4xl md:text-6xl font-bold text-center tracking-[.4rem];
  }

  .prose {
    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-foreground-500;
    }

    & blockquote {
      @apply text-foreground-700;
    }
  }
}

@layer components {
  button,
  .button {
    @apply px-3 py-1 font-bold uppercase transition-colors duration-200 ease-in-out bg-transparent border-2 cursor-pointer border-foreground-500;
    &:hover,
    &:focus {
      @apply transition-colors duration-200 ease-in-out bg-primary-500 border-primary-500 text-background-500;
    }
    &.primary {
      @apply bg-primary-500 border-primary-500 text-background-500;
      &.hero {
        @apply px-1;
      }
    }
    &:ghost {
      @apply bg-transparent border-0;
      &:hover,
      &:focus {
        @apply text-red-500;
      }
    }
  }

  .flex-list {
    @apply flex flex-col items-center justify-center space-y-12 md:flex-row md:space-y-0 md:space-x-12;
  }

  .quantity {
    @apply px-4 py-2 rounded-lg cursor-pointer bg-zinc-600 text-foreground-500;
  }

  .input {
    @apply w-full px-3 py-1 bg-transparent border-0 border-b-2 border-gray-200 focus:outline-none focus:ring-0 focus:border-primary-600;

    &.primary {
      @apply rounded-none;
    }
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer utilities {
  .masonry {
    column-gap: 1.5em;
    column-count: 1;
  }
  .masonry-sm {
    column-gap: 1.5em;
    column-count: 2;
  }
  .masonry-md {
    column-gap: 1.5em;
    column-count: 3;
  }
  .break-inside {
    break-inside: avoid;
  }
}
